# Private key for wallet authentication 
PRIVATE_KEY="your private key here"
# Sygma environment
SYGMA_ENV = "testnet"

# Testnet provider URLs
PROVIDER_URL_11155111="your RPC URL here"
PROVIDER_URL_338="your RPC URL here"
PROVIDER_URL_17000="your RPC URL here"
PROVIDER_URL_421614="your RPC URL here"
PROVIDER_URL_10200="your RPC URL here"
PROVIDER_URL_84532="your RPC URL here"
PROVIDER_URL_80002="your RPC URL here"
PROVIDER_URL_1993="your RPC URL here"

# Mainnet provider URLs
PROVIDER_URL_1="your RPC URL here"
PROVIDER_URL_25="your RPC URL here"
PROVIDER_URL_8453="your RPC URL here"
PROVIDER_URL_100="your RPC URL here"
PROVIDER_URL_137="your RPC URL here"
PROVIDER_URL_8333="your RPC URL here"
PROVIDER_URL_42161="your RPC URL here"
PROVIDER_URL_10="your RPC URL here"

# Testnet scan URLs
SCAN_URL_11155111="https://sepolia.etherscan.io"
SCAN_URL_338="https://explorer.cronos.org/testnet"
SCAN_URL_17000="https://holesky.etherscan.io"
SCAN_URL_421614="https://sepolia.arbiscan.io"
SCAN_URL_10200="https://gnosis-chiado.blockscout.com"
SCAN_URL_84532="https://sepolia.basescan.org"
SCAN_URL_80002="https://www.oklink.com/amoy"
SCAN_URL_1993="https://sepolia.explorer.b3.fun"

# Mainnet scan URLs
SCAN_URL_1="https://etherscan.io"
SCAN_URL_25="https://explorer.cronos.org"
SCAN_URL_8453="https://basescan.org"
SCAN_URL_100="https://gnosisscan.io"
SCAN_URL_137="https://polygonscan.com"
SCAN_URL_8333="https://explorer.b3.fun"
SCAN_URL_42161="https://explorer.arbitrum.io"
SCAN_URL_10="https://optimistic.etherscan.io"